.label {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 0 5px;
  padding: 5px;
  outline: none;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 3px;
  background-color: var(--primary-bg-color);
  box-shadow: inset 0 1px 2px var(--shadow-color);
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.input:focus {
  border: 1px solid var(--accent-color);
}

.input::placeholder {
  color: rgba(3, 3, 3, 0.2);
}

.warning {
  font-size: 12px;
  color: var(--second-accent-color);
  position: absolute;
  top: 0;
  right: 0;
}

.textarea {
  resize: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 100px;
  margin: 0 0 5px;
  padding: 5px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 3px;
  background-color: var(--primary-bg-color);
  box-shadow: inset 0 1px 2px var(--shadow-color);
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.typeText {
  margin-left: 8px;
  width: 116px;
  height: 21px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
}

.button {
  margin-bottom: 30px;
  padding: 8px;
  font-size: 12px;
  border-radius: 3px;
}

.disabled {
  background: var(--border-secondary-color);
  color: var(--border-color);
}

.active {
  background: var(--accent-color);
  color: var(--primary-bg-color);
  cursor: pointer;
}

.error {
  color: var(--second-accent-color);
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 640px) {
  .label {
    width: 200px;
  }
  .input {
    width: 200px;
    height: 40px;
  }
}
