.label {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 0 5px;
  padding: 5px;
  outline: none;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 3px;
  background-color: var(--primary-bg-color);
  box-shadow: inset 0 1px 2px var(--shadow-color);
  font-size: 16px;
  color: var(--primary-color);
}

.textarea:focus,
.input:focus {
  border: 1px solid var(--accent-color);
}

.textarea::placeholder,
.input::placeholder {
  color: rgba(3, 3, 3, 0.2);
}

.warning {
  font-size: 12px;
  color: var(--second-accent-color);
  position: absolute;
  top: 0;
  right: 0;
}

.textarea {
  outline: none;
  resize: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 100px;
  margin: 0 0 5px;
  padding: 5px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 3px;
  background-color: var(--primary-bg-color);
  box-shadow: inset 0 1px 2px var(--shadow-color);
  font-size: 16px;
  color: var(--primary-color);
}

.typeText {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 120px;
  height: 32px;
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  width: 220px;
  gap: 20px;
  margin-bottom: 30px;
}

.button {
  width: 100px;
  padding: 8px;
  font-size: 12px;
  border-radius: 3px;
  background: var(--accent-color);
  color: var(--primary-bg-color);
  cursor: pointer;
}

.inputWrapper {
  position: relative;
  padding-bottom: 20px;
}

.resetCodeBtn {
  background-color: transparent;
  position: absolute;
  bottom: 4px;
  right: 12px;
  cursor: pointer;
}

.codeError,
.error {
  color: var(--second-accent-color);
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 10px;
}

@media screen and (min-width: 640px) {
  .label {
    width: 100%;
  }
  .input {
    width: 100%;
    height: 40px;
  }
}
