.container {
  background-color: var(--secondary-bg-color);
  display: grid;
  min-height: 100vh;
  grid-template: minmax(194px, auto) 1fr minmax(22px, auto) / 1fr;
  grid-template-areas: 'header' 'main' 'footer';
}

.headerWrap {
  grid-area: 'header';
  background: var(--secondary-color);
}

.content {
  grid-area: 'main';
  display: grid;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 8px;
}

.footer {
  grid-area: 'footer';
}

.scrollBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  opacity: 0.3;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.arrow {
  display: block;
  width: 20px;
  height: 20px;
  border-left: 8px solid var(--primary-bg-color);
  border-top: 8px solid var(--primary-bg-color);
  transform: rotate(45deg);
}

@media screen and (min-width: 640px) {
  .container {
    grid-template: minmax(140px, auto) 1fr minmax(22px, auto) / 1fr;
  }

  .content {
    grid-template: 1fr / 2fr 1fr;
    align-items: start;
  }
}
