.container {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  min-height: 100%;
  display: grid;
}

.logo {
  padding: 0 8px;
  display: inline-block;
}

.headerPhone p:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

.phoneLink {
  color: #fff;
  text-decoration: none;
  transition: color 250ms linear;
  &:hover {
    color: #2ba6cb;
  }
}

.mobileMenuBtn {
  margin-top: 35px;
  align-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
}

.mobileMenuTitle {
  margin-left: auto;
  font-size: 16px;
  line-height: 1.188;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.menuIcon {
  position: relative;
  margin-right: 18px;
  display: block;
  width: 14px;
  height: 2px;
  background-color: #fff;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    width: 14px;
    height: 2px;
    background-color: #fff;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    width: 14px;
    height: 2px;
    background-color: #fff;
  }
}

.linkWrapper {
  background-color: #222222;
  transition: transform 1000ms linear;
}

.link {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  padding: 7px 15px;
  cursor: pointer;
  text-align: left;
  transition: color 250ms linear, background-color 250ms linear;
  &:hover {
    color: #2ba6cb;
  }
}

@media screen and (max-width: 639px) {
  .welder {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 1000px;
    grid-template: 1fr / 1fr 1fr 1fr;
  }

  .logo {
    text-align: left;
  }

  .welder {
    height: 90px;
    justify-self: center;
  }

  .contacts {
    padding: 10px 8px 0 8px;
    color: #fff;
    font-size: 20px;
    justify-self: end;
  }

  .mobileMenuBtn {
    display: none;
  }

  .linkWrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 17px;
  }
}
