.container {
  background: #fff;
  padding: 16px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
}

.breadcrumbs {
  font-size: 12px;
  margin-bottom: 5px;
}

.homeLink {
  color: #2ba6c3;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 4px;
}

.item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e8e8e8;
}

.itemInfoWrap {
  display: flex;
  gap: 16px;
}

.imageList,
.descriptionList {
  flex: 1 1 50%;
}

.imageList {
  padding-top: 20px;
}

.descriptionList {
  padding-bottom: 20px;
}

.imageList img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.imageList img:last-child {
  margin-bottom: 0;
}

.title {
  color: #222222;
  font-size: 18px;
  background: #e5e5e5;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
  line-height: 1.6;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 5px;
}

.blockTitle {
  font-size: 18px;
  color: #cc0000;
  font-weight: 700;
  margin-bottom: 10px;
}

.descriptionList p {
  font-size: 16px;
  color: #0a0a0a;
}

.descriptionList span {
  font-weight: 700;
}

.descriptionTitleWrap {
  margin-bottom: 30px;
}

.text {
  font-size: 12px;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  line-height: 18px;
}

.warningText {
  font-size: 18px;
  color: #990000;
  font-weight: 700;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  line-height: 24px;
}

.addressBox p {
  font-style: 16px;
  line-height: 1.6;
}

.addressBox address {
  margin-bottom: 16px;
}

.addressBox .subtitle {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 639px) {
  .itemInfoWrap {
    flex-direction: column;
  }
}

@media screen and (min-width: 640px) {
  .imageList,
  .descriptionList {
    padding: 20px 0;
  }
}
